.card-container-common:focus-within {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.card-container-common {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    width: auto;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
}

.card-title-container {
    display: flex;
    font-size: 20px;
    line-height: 110%;
    margin: 0;
    font-weight: normal;
    margin: 16px 0px 10px 22px;
}
.icon-common-card {
    height: 20px;
    width: 20px;
}
.icon-title-card {
    margin-right: 15px;
}
.card-container-content {
    display: flex;
    padding: 0 16px 10px 16px;
}
